.keyboard-key {
  stroke: black;
  fill: #F39C6B;
}

.keyboard-key-label {
  font-size: 0.7em;
}

.active {
    animation: pulse 1s infinite;
    fill: #FF3864;
}

@keyframes pulse {
    0% {
      background-color: purple;
    }
    100% {
      background-color: palevioletred;
    }
}