.keyboard-key {
  stroke: black;
  fill: #F39C6B;
}

.keyboard-key-label {
  font-size: 0.7em;
  fill: #EDF2F4;
}

.keyboard-key-action-name {
  font-size: 1em;
}

.keyboard-key-disabled {
  fill: lightgray;
  stroke: darkgray
}

.keyboard-key-active {
    animation: pulse 1s infinite;
    fill: #FF3864;
}

@keyframes pulse {
    0% {
      background-color: purple;
    }
    100% {
      background-color: palevioletred;
    }
}